.App {
  text-align: center;
}
button{
  border: 0;
  background-color: #444648;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  padding: .5rem;
  cursor: pointer;
  margin: 1rem;
  outline: none;
}
button:hover{
  background-color: #34393e
}
button[disabled]{
  background-color: #6c757d;
  cursor: default;
}